@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
  box-sizing: border-box;
}



.birthday-container__text {
  font-family: 'Pacifico', cursive;
  letter-spacing: .1rem;
  color: #D0378C;
  position: absolute;
  z-index: 100;
  top: 0;
  font-size: 18vmin;
  padding: 2vmin;
  margin: 0;
  text-align: center;
  transform: translate(-50%, 0%);
  left: 50%;
  opacity: 0;
  animation: birthday-container__text 1s 2s forwards;
}

@keyframes birthday-container__text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.birthday-container__graphic {
  width: 100vmin;
  height: 100vmin;
  background: #ededed;
  position: relative;
}

canvas {
	cursor: crosshair;
	display: block;
}
